/* Navbar */
.logo {
  
  width: 6rem;
}

.navbar-nav > li > a {
  border-top: 0.1875rem solid black;
}

.navbar-nav > li > a.active, .navbar-nav > li > a:focus {
  border-top: 0.1875rem solid lightblue;
}

.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid lightblue;

}